.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
}


.video-fondo {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}


.contenido-sobre-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  z-index: 1;
}
