@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* KINGGAMES: ESTILOS DE LOS NAVA */
.header-custom {
  background-color: var(--header-bg-color, rgba(0, 0, 0, 0.945)); /* Puedes cambiar el color por el que desees */
}

/* KINGGAMES: ESTILOS DE LOS SELECT-OPTION*/
.custom-select {
  font-size: 0.8rem; /* Tamaño de fuente */
  background-color: rgba(0, 0, 0, 0.945); /* Color de fondo */
  color: rgb(255, 255, 255); /* Color del texto */
 
  padding: 3px; /* Relleno */
  outline: none; /* Sin outline */
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.945); 
}

.select-container {
  position: relative;
  top: -45px; /* Ajusta el valor para mover los selectores hacia arriba */
  display: flex;
  flex-wrap: wrap; /* Permite que los selectores se ajusten en múltiples líneas si es necesario */
  justify-content: center;
  gap: 10px; /* Espacio entre los selectores */
}

/* Agrega una línea blanca debajo de los selectores */
.select-container::after {
  content: '';
  position: absolute;
  bottom: -10px; /* Ajusta el valor para colocar la línea en la posición deseada */
  left: 0;
  width: 100%;
  height: px; /* Ajusta la altura de la línea */
  background-color: white; /* Color de la línea */
}

.search-container {
  position: relative;
  top: -15px; /* Ajusta el valor para mover el buscador hacia arriba */
  max-width: 400px; /* Limita el ancho del buscador */
  padding: 6px;
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.custom-select, .custom-input {
 
  min-width: 130px; /* Ancho mínimo para los selectores */
}

@media (max-width: 768px) {
  .select-container {
    top: -30px; /* Ajuste de la posición para pantallas más pequeñas */
  }

  .search-container {
    top: -20px; /* Ajuste de la posición para pantallas más pequeñas */
  }

  .custom-select, .custom-input {
    min-width: 100%; /* Asegura que los elementos ocupen todo el ancho disponible en pantallas pequeñas */
  }
}
/* KINGGAMES: ESTILOS DE EL TITULO*/
.custom-title {
  font-family: 'Arial', sans-serif; /* Cambia la fuente según tu preferencia */
  font-size: 2rem; /* Ajusta el tamaño de la fuente */
  font-weight: bold; /* Peso de la fuente */
  color: white; /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
  text-align: center; /* Alineación del texto */
}

.responsive-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 768px) {
  .custom-title {
    font-size: 1.5rem; /* Reduce el tamaño de la fuente en pantallas más pequeñas */
  }
  
  .responsive-container img {
    width: 24px; /* Reduce el tamaño del icono en pantallas más pequeñas */
    height: 24px; /* Reduce el tamaño del icono en pantallas más pequeñas */
  }
}

/* KINGGAMES: ESTILOS DEL BOTON DE BUSQUEDA Y ION */
.nav-container {
  width: 100%;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
}

.search-input {
  width: 100%;
  max-width: 600px; /* Ajusta el ancho máximo del input */
  padding: 0.5rem 1rem 0.5rem 2.5rem; /* Deja espacio para el icono */

  border-radius: 0.375rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #6366f1; /* Color de borde cuando está enfocado */
}

.search-icon {
  position: absolute;
  left: 0.75rem; /* Ajusta la posición del icono */
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af; /* Color del icono */
}

@media (max-width: 768px) {
  .search-input {
    width: 90%; /* Ancho del input en dispositivos más pequeños */
  }
}
